$max-column-items: 12; /* The maximum number of items a single column can handle.  If a column has more items than the maximum defined here, some items won't display. */
$line-height: 1.5; 
$list-font-size: 16px;

ol.relative {
  position: relative;
  margin: 0 0 50px;
  padding: 0;
  font-size: $list-font-size;
}

ol.relative li {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 50%;
  background: #b3cae5;
  list-style-position: inside;
  line-height: $line-height;
}

@for $i from 2 through $max-column-items{
  ol li:nth-child(n+#{$i}){
    top: $line-height * ($i - 1) + em; /* line height is equal to the absolute position top for all items. will only effect first column because overridden later*/
  }
}

/* Round up puts more items in first column if odd total number of items 
*/
@for $i from 2 through $max-column-items {
  .roundUp li:nth-child(n+#{$i}):nth-last-child(-n+#{$i}) {
    position: static;
    margin-left: 50%;
    background: #efcab2;
  }
}

/* Round Down puts more items into second column if odd total number of items 
*/
@for $i from 2 through $max-column-items {
  .roundDown li:nth-child(n+#{$i + 1}):nth-last-child(-n+#{$i}) {
    position: static;
    margin-left: 50%;
    background: #efcab2;
  }
}

