        {{#if playing}}
            <button type="button" class="btn btn-danger play">
                <span class="glyphicon glyphicon-stop"></span>
                Stop
            </button>
        {{else}}
        <button type="button" class="btn btn-primary play">
            <span class="glyphicon glyphicon-play"></span>
            Play
        </button>
        {{/if}}
		<button type="button" class="btn btn-default random">
            <span class="glyphicon glyphicon-random"></span>
            Random
        </button>
        <button type="button" class="btn btn-default reset">
            <span class="glyphicon glyphicon-remove"></span>
            Reset
        </button>
		<button type="button" class="btn btn-default step">
            <span class="glyphicon glyphicon-step-forward"></span>
            Step
        </button>