<div class="navbar navbar-inverse navbar-fixed-top center">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#widgets">Html5 ShowCase</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#youtube/home">Home</a></li>
                    <li><a href="#search">Search</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li><a href="##youtube/home">Home</a></li>
                    <li><a href="#search">Search</a></li>
                </ul>
                <ul class="nav nav-list">
                    <li class="nav-header">Recent Videos</li>
                </ul>
                <div >
                    <ul class="nav nav-list unstyled" id="recentVideos"></ul>
                </div>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span10">
            <div class="row-fluid">
                <div class="span12">
                    <h2>Marionette.youtube</h2>

                    <div id="mainContent">
                    </div>
                </div>
                <!--/span-->

            </div>
            <!--/row-->
        </div>
        <!--/span-->
    </div>
    <!--/row-->

    <hr>

    <footer>
        <p>&copy; Company 2013</p>
    </footer>

</div>

