<img src="{{avatar}}" class="img-polaroid" style="float: left; margin-right:15px;">
<div style="float:left; width: 800px;">
    <h3>Tim Doherty</h3>

    <p>I'm a software engineer, avid SCUBA diver, amateur underwater photographer, and occasional musician living in
        southern California. My passion is solving problems and building things with technology.</p>

    <ul class="unstyled">
      {{#links}}
        <li class="contactLink">
          <a class="btn btn-small" href="{{url}}" target="{{target}}">{{text}}</a>
        </li>
      {{/links}}
    </ul>
</div>