.toright{
	margin: auto 20px;
}

.homebtn {
	position: absolute;
top: 0;
right: 0;
padding-right: 25px;
padding-top: 25px;
}

ul.tab-menu
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

ul.tab-menu li { display: inline; }

ul.tab-menu li a
{
	display: inline-block !important;
text-decoration: none;
padding: .2em 1em;
color: #fff;
background-color: #036;
}

ul.tab-menu li a:hover
{
color: #fff;
background-color: #369;
}

.fork {
border: 0;
position: absolute;
top: 0;
right: 0;
}

#forkme {
	background-color: white;
	border: 1px solid white;
	overflow: hidden;
	position: fixed;
	right: -50px;
	top: 50px;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.4);
	-o-box-shadow: 0 0 40px rgba(0,0,0,0.4);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,0.4);
	box-shadow: 0 0 40px rgba(0,0,0,0.4);
	z-index: 30;
	border-image: initial;
}

#forkme a {
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: black;
	display: block;
	font: bold 13px Helvetica, Arial, sans-serif;
	margin: 0.05em 0 0.075em 0;
	padding: 0.3em 3.5em;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 0 0.5em rgba(0,0,0,0.1);
	border-image: initial;
}

/*/WindowContainer-------------------/*/
.window-container {
  cursor: move;
  width: 400px;
  max-height: 600px;
  overflow: visible;
  position: fixed;
  top: 20%;
  left: 20%;
  z-index: 1050;
  background-color: white;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.window-container > .head {
  height:30px; 
  background-color: #555555;
}

.window-container > .content {
  padding: 5px;
}
/*/End WindowContainer---------------/*/



/*/TabIndexItem----------------------/*/
.tab-index-item {
  line-height: 40px;
}

.tab-index-item .buttons {
  display: none;
}

.tab-index-item:hover .buttons{
  display: inline-block;
}

.tab-index-item .icon-resize-vertical {
  display: none;
}

.tab-index-item:hover .icon-resize-vertical{
  display: inline-block;
}

/*/End TabIndexItem------------------/*/

/*/Tab-------------------------------/*/
.tab .navbar {
  margin-bottom: 0px;
}
/*/End Tab---------------------------/*/
