.simple-demo #content-wrapper {
	height: 1600px;
	padding-top: 400px;
}

h2 {
	font-size: 150px;
	font-weight: normal;
	margin: 0;
	color: #FFB000;
	padding: 60px;
	text-shadow: 0 2px 1px #000;
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	text-transform: uppercase;
}