* {
	box-sizing: border-box;
}

.element {
	background-color: #FFDC00;
	width: 80%;
	max-width: 300px;
	padding: 0 15px;
	font-size: 20px;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

@media ( max-width : 380px) {
	.element {
		font-size: 16px;
	}
}

.bit {
	width: 10vw;
	height: 10vw;
	float: left;
}