.sweeper { 
    font-family: 'Droid Sans Mono', Courier, mono;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
}

.sweeper h1 {
    font-family: 'Permanent Marker', 'Source Sans Pro', 'Droid Sans Mono', Courier, mono;
    letter-spacing: 4px;
    font-size: 4em;
    color: #C53131;
    margin: 0;
}

.sweeper p {
    font-family: 'IM Fell DW Pica SC', 'Source Sans Pro', 'Droid Sans Mono', Courier, mono;
    font-size: 1.3em;
    color: #909090;
    margin-top: 0;
}

div#sweeper-menu {
    margin: auto;
}

#sweeper-menu li {
    display: inline-block;
    text-transform: uppercase;
    background-color: #e3e3e3;
    text-align: center;
    padding: 4px;
    width: 120px;
}

#sweeper-menu li:hover {
    cursor: pointer;
    background-color: #C53131;
    color: white;
}

div#resize {
    margin-top: 2em;
    margin-bottom: 0;
    font-family: 'IM Fell DW Pica SC', 'Source Sans Pro';
    font-size: 1em;
    color: #808080;
}

.sweeper input {
    border: 2px solid white; 
    -webkit-box-shadow: 
      inset 0 0 2px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 2px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 2px  rgba(0,0,0,0.1),
            0 0 4px rgba(0,0,0,0.1); 
    padding: 3px;
    background: rgba(255,255,255,0.5);
    margin: 0 10px;
    text-align: center;
    color: #C53131;
}

.sweeper input[type=number]::-webkit-inner-spin-button, 
.sweeper input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

table#grid {
    font-family: 'Permanent Marker', 'Droid Sans Mono', Courier, mono;
    border-spacing: 1px;
    background-color: #425275;
    margin: auto;
    margin-top: 2em;
}

#grid td {
    width: 24px;
    height: 24px;
    border: 1px solid #909090;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
}

body span {
    color: #C53131;
}

.mine {
	background-image: url('mine.jpg');
	background-size: contain;
}

#result {
    font-family: 'Permanent Marker', cursive;
    height: 2em;
    line-height: 2em;
    margin: 3px;
    padding: 3px;
    font-size: 2em;
}

.win {
    color: green;
}

#flags {
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    margin-top: 3em;
    height: 2em;
    color: #C53131;
}

td#clicked {
    background-color: #ececec;
    border: none;
}

td.reveal {
    background-color: #C53131;
}

td.flag {
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #ececec;
    background-color: #050041;
}

td.mine {
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    color: #C53131;
}

td.colorize1 {
    color: blue;
}

td.colorize2 {
    color: green;
}

td.colorize3 {
    color: orange;
}

td.colorize4 {
    color: purple;
}

td.colorize5 {
    color: #FF00EB;
}

td.colorize6 {
    color: #858585;
}

td.colorize7 {
    color: #07BDBD;
}

td.colorize8 {
    color: black;
}
