nav.my {
	display: block;
	text-align: center;
}

nav.my ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mynav a {
	display: block;
	background: #111;
	color: #fff;
	text-decoration: none;
	padding: .8em 1.8em;
	text-transform: uppercase;
	font-size: 80%;
	letter-spacing: 2px;
	text-shadow: 0 -1px 0 #000;
	position: relative;
}

.mynav {
	vertical-align: top;
	display: inline-block;
	box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px
		#fff;
	border-radius: 6px;
}

.mynav li {
	position: relative;
}

.mynav>li {
	float: left;
	border-bottom: 4px #aaa solid;
	margin-right: 1px;
}

.mynav>li>a {
	margin-bottom: 1px;
	box-shadow: inset 0 2em .33em -.5em #555;
}

.mynav>li:hover,.mynav>li:hover>a {
	border-bottom-color: orange;
}

.mynav li:hover>a {
	color: orange;
}

.mynav>li:first-child {
	border-radius: 4px 0 0 4px;
}

.mynav>li:first-child>a {
	border-radius: 4px 0 0 0;
}

.mynav>li:last-child {
	border-radius: 0 0 4px 0;
	margin-right: 0;
}

.mynav>li:last-child>a {
	border-radius: 0 4px 0 0;
}

.mynav li li a {
	margin-top: 1px
}

.mynav li a:first-child:nth-last-child(2):before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	border: 5px solid transparent;
	top: 50%;
	right: 5px;
}

/* submenu positioning*/
.mynav ul {
	position: absolute;
	white-space: nowrap;
	border-bottom: 5px solid orange;
	z-index: 1;
	left: -99999em;
}

.mynav>li:hover>ul {
	left: auto;
	padding-top: 5px;
	min-width: 100%;
}

.mynav>li li ul {
	border-left: 1px solid #fff;
}

.mynav>li li:hover>ul {
	/* margin-left: 1px */
	left: 100%;
	top: -1px;
}
/* arrow hover styling */
.mynav>li>a:first-child:nth-last-child(2):before {
	border-top-color: #aaa;
}

.mynav>li:hover>a:first-child:nth-last-child(2):before {
	border: 5px solid transparent;
	border-bottom-color: orange;
	margin-top: -5px
}

.mynav li li>a:first-child:nth-last-child(2):before {
	border-left-color: #aaa;
	margin-top: -5px
}

.mynav li li:hover>a:first-child:nth-last-child(2):before {
	border: 5px solid transparent;
	border-right-color: orange;
	right: 10px;
}