<a href='#/nowplaying/{{source}}'>
    <span class="ux-thumb-wrap">
        <span class="video-thumb ux-thumb yt-thumb-default-120 ">
            <span class="yt-thumb-clip">
                <span class="yt-thumb-clip-inner">
                    <img width="120" alt="Thumbnail" src="{{thumbNailUrl}}" >
                    <span class="vertical-align">
                </span>
                </span>
            </span>
        </span>
        <span class="video-time">{{duration}}</span>
    </span>
    <span class="title" title="{{titleAbbr}}">{{titleAbbr}}</span>
    <span class="stat">by {{authorName}}</span>
    <span class="stat"> {{yt$statistics.viewCount}} views </span>
</a>
