.context-menu-item {
	display: list-item;
}

.inline-spaces {
	font-size: 1em;
	font-family: "Helvetica,Arial,FreeSans";
	color: #65B042;
	background-color: #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.menu-injected { background-color: #C87958; }

.spaced {
	padding: 10px; margin: 10px;
}

.clear
{
	clear:both;
}

#the-node {
	list-style: none;
	margin: 0;
	padding: 0;
}

#the-node>li>span {
	display: inline-block;
	background: #fff;
}

#the-node>li {
	background: #eee;
	padding: 20px;
}

#the-node>li:hover {
	background: #ddd;
}

#the-node>li+li {
	margin-top: 5px;
}